.btn {
    
    background-color: #dc3545; 
    color: white; 
    padding: 8px 16px; 
    border: none; 
    border-radius: 4px; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
}
button {

    background-color: #0afafa; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    display: inline-block;
    text-decoration: none; 
    
}