body {
    background: #F8F0E5;
}

/* Video CSS*/
.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/*Table Css*/

h1{
    font-family: Montserrat; 
    font-size: 50px;
}

table.Tbl1 {
    margin-top: 550px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.tb {
    border: 2px solid rgb(0, 0, 0);      /* Set border for table cells */
    border-radius: 30px;
    padding: 10px;                              /* Add padding inside table cells */
}

/* add neon green border for add event button */
.add {
    border: 2px solid rgb(57, 255, 20);      /* Set border for table cells */
    border-radius: 30px;
    padding: 10px;                              /* Add padding inside table cells */
}

.icon2 {
    border-radius: 20%;                     /* Add border radius to create circle */
}

/*Card Css*/
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.item-container {
    position: relative;
    margin: 15px;
    width: 320px;
    height: 520px;
    overflow: hidden;
    background-color: #d6e09e;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.img-container,
.body-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
}

.body-container {
    position: relative;
}

.overlay {
    position: relative;
    width: 100%;
    height: 290px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
    opacity: 1;
    height: 150px;
}

.event-info {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.title,
.price {
    color: #18537a;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}

.info {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator {
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
}

.additional-info {
    border-top: 1px solid #bbb;
    padding: 10px;
    padding-bottom: 0;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: #18537a;
    font-weight: bolder;
}

.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
    top: 50px;
}

.action:hover {
    background-color: rgba(255, 255, 255, 0.2);
}